{% extends 'base.html' %}
{% load bootstrap3 %}



{% block content %}

<div class="container">
  <div class="row text-center">
    {% if users %}
    <h2> Found {{users|length}} users with the search term "{{message}}"</h2>
    {% else %}
    <h2> Found 0 users for the search term "{{message}}"</h2>
    {% endif %}
  </div>


  {% if users %}
  <div class="text-center">
    <div class="panel" style="width: 45rem;">
      <div class="panel-body">
     {% for user in users%}

     <!-- Card -->
     <div class="card">

       <!-- Card image -->
       <div class="view overlay">
         <img class="card-img-top" src="{{user.profile_pic.url}}"  alt="Card image cap">
         <a href="#!">
           <div class="mask rgba-white-slight"></div>
         </a>
       </div>

       <!-- Card content -->
       <div class="card-body">

         <!-- Title -->
         <h4 class="card-title">{{user.user}}</h4>
         <hr>
         <!-- Text -->
         <p class="card-text"> {{user.bio}} </p>
         <!-- Button -->
         <ul>
           <span class="profile-stat-count">{{posts_number}}</span> posts,
           <span class="profile-stat-count">0</span> followers,
           <span class="profile-stat-count">0</span> following
         </ul>
         <a href="{%url 'Timeline'%}" class="btn btn-primary">Home</a>

       </div>

     </div>
     <!-- Card -->



     {% endfor %}

   </div>
    </div>

  </div>
  {% endif %}


{% endblock %}





<!--
<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div> -->
